<a href="https://colab.research.google.com/github/OkayKenji/A2018Project/blob/main/Week3Matt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3 (Matt):  In-class exercise
Worked on by Team Java (Chris A, Tyler B, Simone G, Zia J, and Kenji O)

# Importing üêº

In [ ]:
import pandas as pd

# Creating dictionary to store populations

In [ ]:
population_dict = {'Bronx':  2_648_771, # you can use _ that acts like commas
                   'Queens': 2_358_582,
                   'Manhattan': 1_628_701,
                   'The Bronx':  1_471_160,
                   'Staten Island, Jack and Falcos Homeland': 476_015}
# data from the ChatGPT

# Finding the sum and mean
Using the panda functions :)

In [ ]:
population = pd.Series(population_dict)
sum_ = population.sum()
mean_ = population.mean()

# Displaying Stats

In [ ]:
print(f'Mean: {mean_:,} \n Sum: {sum_:,}')
# Credit:
#  - https://stackoverflow.com/questions/1823058/how-to-print-a-number-using-commas-as-thousands-separators

Mean: 1,716,645.8
 Sum: 8,583,229